body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #202020;
  color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
