@import "../../assets/styles/media.scss";

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 66rem;
  width: 100%;

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include mobile {
      flex-direction: column;
      flex-flow: column-reverse;
    }

    > main {
      flex-basis: 0;
      flex-grow: 2;
      line-height: 1.5em;
      padding: 1em;
    }
  }
}
