@import "../../../../assets/styles/rainbowify.scss";

.app-header-github-banner {
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}

.app-header-github-banner-arm {
  -webkit-transform-origin: 130px 106px;
  transform-origin: 130px 106px
}

.app-header-github-banner-background {
  @include rainbowify(fill);
}
