@import "../../../assets/styles/rainbowify.scss";

.about-blockquote {
  @include rainbowify(color);
  filter: brightness(200%);
  font-size: 1.25rem;

  &:after {
    content: "”";
    font-size: 2rem;
    line-height: 1rem;
    padding-left: 0.25rem;
    vertical-align: text-bottom;
  }

  &:before {
    content: "“";
    font-size: 2rem;
    line-height: 1rem;
    padding-right: 0.25rem;
    vertical-align: text-bottom;
  }
}
